<!DOCTYPE html>
<html>
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>login</title>
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body style="background:#f7f6f6">

	<div id="user_header">
		
		<img src="/images/header.jpg" alt="">
	</div>
	<div class="login">
		<input type="text" id="user_phone"  placeholder="QQ号/手机号/邮箱"><br>
		<input type="password" id="user_pwd"  placeholder="密码">
		<div class="wrap">
			<div class="login_btn_wrap">
				<button  id='login_btn' class="btn btn-primary btn-block">登录</button>
			</div>
			<div class="checkbox">
			 <span  id="agree_box">	<input id="checkbox_btn"type="checkbox" checked=""><label for="checkbox_btn">Check</label>我已阅读并同意<a href="" id="server_agree">服务条款</a></span>
			</div>
		</div>
	</div>
	<div class="go_regist">
		<div class="col-xs-8">
			<p><a href="">无法登陆?</a></p>
		</div>
		<div class="col-xs-4">
			<p><a href="/regist" class="regist_btn">新用户注册</a></p>
		</div>
	</div>
	<div class="tip">账号或密码错误！</div>

	







	<script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/main.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
