<!DOCTYPE html>
<html>
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>regist</title>
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body style="background:#f7f6f6">
	<header class="header">
		<i class="fa fa-angle-left fa-lg right-return"></i>
		<p class="regist_title">注册</p>
	</header>
	<div id="user_header">
		<img src="/images/qq_header.jpg" alt="">
	</div>
	<div class="regist">
		<input type="text" id="user_name"  placeholder="用户名"><br>
		<input type="text" id="user_phone"  placeholder="手机号"><br>
		<input type="password" id="user_pwd"  placeholder="密码"><br>
		<input type="password" id="user_repwd"  placeholder="再次输入密码">
		<div class="wrap">
			<div class="regist_btn_wrap">
				<button  id='regist_btn' class="btn btn-primary btn-block">注册</button>
			</div>
			<div class="checkbox">
			 <span  id="agree_box">	<input id="checkbox_btn"type="checkbox"><label for="checkbox_btn">Check</label>我已阅读并同意<a href="" id="server_agree">服务条款</a></span>
			</div>
		</div>
	</div>
	<div class="go_login">
		<div class="col-xs-9">
			<p><a href="">无法注册?</a></p>
		</div>
		<div class="col-xs-3">
			<p><a href="/">请登录</a></p>
		</div>
	</div>

	<div class="tip">该账号已被注册!</div>







	<script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/jquery.plugs.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/main.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
